<%- include('partials/min-header') -%>
<div class="container editProfile">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>Name</strong>: <%= user.userName %></p>
              <!-- <p><strong>Email</strong>: <%= user.email %></p> -->
              <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
          </div>
          <div class="mt-5">
            <h2>Edit Profile</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="First Name, Last Name">
            </div>
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="Ex. Student, Teacher, etc.">
              </div>
              <div class="mb-3">
                <label for="companySchool" class="form-label">Company / School</label>
                <input type="text" class="form-control" id="companySchool" name="companySchool">
            </div>
            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input type="text" class="form-control" id="location" name="location">
          </div>
            <div class="mb-3">
              <label for="desc" class="form-label">About</label>
              <textarea class="form-control" id="about" name="desc"></textarea>
            </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <div class="mb-3">
                <label for="linkedIn" class="form-label">LinkedIn URL</label>
                <input type="text" class="form-control" id="linkedIn" name="linkedIn">
            </div>
            <div class="mb-3">
              <label for="twitter" class="form-label">Twitter URL</label>
              <input type="text" class="form-control" id="twitter" name="twitter">
          </div>
          <div class="mb-3">
            <label for="facebook" class="form-label">Facebook URL</label>
            <input type="text" class="form-control" id="facebook" name="facebook">
        </div>
        <div class="mb-3">
          <label for="instagram" class="form-label">Instagram URL</label>
          <input type="text" class="form-control" id="instagram" name="instagram">
      </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <!-- <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul> -->
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>

          <!-- Profile Card -->
            <% for(var i=0; i<posts.length; i++) {%>
                    <div class="card profile-card-1">
                        <div class="cardDetails">
                          <img src="<%= posts[i].image%>" alt="profile-image" class="profile"/>
                          <div class="card-content">
                            <h2><%= posts[i].name%><small><%= posts[i].title%></small></h3>
                              <img class="fa" src="/imgs/icons8-location-64.png"></img>
                              <span><%= posts[i].location ?  posts[i].location : "Not Specified"%>
                               </span>
                              <p><%= posts[i].desc%>
                              </p>
                            <div class="icon-block">
                              <a class="socials" href= "http://<%= posts[i].linkedIn %>" target="_blank">
                                <span>
                                  <img class="fa fa-facebook" src="/imgs/icons8-linkedin-color.svg"></img>
                                </span>
                              </a>
                              <a class="socials" href="http://<%= posts[i].facebook%>" target="_blank">
                                <span>
                                  <img class="fa fa-facebook" src="/imgs/icons8-facebook-color.svg"></img>
                                </span>
                              </a>
                              <a class="socials" href="http://<%= posts[i].instagram%>" target="_blank"> 
                                <span>
                                  <img class="fa fa-twitter" src="/imgs/icons8-instagram-color.svg"></img>
                                </span>
                              </a>
                              <a class="socials" href="http://<%= posts[i].twitter%>" target="_blank"> 
                                <span>
                                  <img class="fa fa-google-plus" src="/imgs/icons8-twitter-color.svg"></img>
                                </span>
                              </a>
                            </div>
                            
                          </div>
                        </div>
                        </div>
            <% } %>
    </div>
  </div>
</div>
<!-- <%- include('partials/footer') -%> -->